* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bz-app-principal: #dbdbd2;
    --bz-app-gradient: #009688;
    --bz-app-success: #d5f9ba;
    --bz-app-dark: #b1b1b1;
    --bz-app-light: #e9ebeb;
    --bz-app-white: #ffffff;
    --bz-app-focus: #8edafc;
}

/* find to modify input text */
input[type="text"] {  
    font-size: 12px;   
}

body {
    font-family: ‘Roboto’, sans-serif;
    overflow: hidden;
    
}

main {
    background: linear-gradient(to bottom, var(--bz-app-gradient) 20%, var(--bz-app-principal) 0%);
    height: 100vh;
}

.container {
    max-width: 1200px;
    height: calc(100% - 4rem);
}

#nav, #message_area {
    height: 100%;
}

.sfondo {
    
    background-image: url(/assets/img/mine.jpg);
    background-size: auto;
    background-color: var(--bz-app-dark);
    height: calc(100% - 130px);
}

a {
    text-decoration: none;
    color: var(--bz-app-dark);
}
#chat_active {
    height: 80px;
    background-color: var(--bz-app-light);

    & img {
        max-width: 100%;
        border-radius: 50%;
        width: 40px;
    }
}    
    & .info_mex {
        font-size: 12px;
        color: var(--bz-app-dark);
}
#user {
    height: 80px;
    background-color: var(--bz-app-light);

    & img {
        max-width: 100%;
        border-radius: 50%;
        width: 60px;
    }
}

.name {
    font-size: 18px;
    color: black;
}

#user i {
    color: var(--bz-app-dark);
}

#notify {
    height: 80px;
    background-color: var(--bz-app-focus);

    > .icon {
        background-color: var(--bz-app-white);
        height: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
    

    & i {
        color: var(--bz-app-focus);
    }

    & p {
        font-size: 16px;
        margin: 0;
    }

    & a {
        font-size: 12px;
        color: var(--bz-app-dark);
    }


}

#search {
    background-color: var(--bz-app-white);
    height: 50px;

    >  button {
        background-color: var(--bz-app-white);
        border: 1px solid var(--bz-app-dark);
    }
}

.chat {
    height: 80px;
    background-color: var(--bz-app-white);

    & img {
        max-width: 100%;
        border-radius: 50%;
        width: 60px;
    }
    & .info_mex {
        font-size: 14px;
        color: var(--bz-app-dark);
    }
}

#time_last_message {
    position: absolute;
    right: 5px;
    top: -5px;
}

#message_area {
        
    & .message {
        font-size: 16px;
        border-radius: 5px;
        padding: 0.8rem 0.4rem;
        margin: 0.8rem 0;
    }

    & .sent {
        background-color: var(--bz-app-success);
        
    }

    & .received {
        background-color: var(--bz-app-white);
    }

    & small {
        font-size: 10px;
        right: 5px;
        color: var(--bz-app-dark);
    }
    
}

#all_chats {
    height: calc(100% - 210px);
    overflow-y: scroll;
    background-color: var(--bz-app-white);
}

.my_message {
    background-color: var(--bz-app-light);
    height: 50px;

    & input {
        width: 80%;
    }
}

.active {
    background-color: var(--bz-app-light);
}