:root {
    --bz-app-principal: #dbdbd2;
    --bz-app-gradient: #009688;
    --bz-app-success: #d5f9ba;
    --bz-app-dark: #b1b1b1;
    --bz-app-light: #e9ebeb;
    --bz-app-white: #ffffff;
    --bz-app-focus: #8edafc;
}

body {
    font-family: ‘Roboto’, sans-serif;
    
}

main {
    height: 100vh;
    background: linear-gradient(to bottom, var(--bz-app-gradient) 20%, var(--bz-app-principal) 0%);
}

a {
    text-decoration: none;
    color: black;
}

#user {
    height: 7vh;
    background-color: var(--bz-app-light);
}

#notify {
    height: 8vh;
    background-color: var(--bz-app-focus);
}

img {
    max-width: 100%;
    border-radius: 50%;
    width: 4vh;
}

.name {
    font-size: 10px;
}

#user i {
    color: var(--bz-app-dark);
}

#notify {

    > .icon {
        background-color: var(--bz-app-white);
        height: 6vh;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
    

    & i {
        color: var(--bz-app-focus);
    }

    & p {
        font-size: 10px;
        margin: 0;
    }

    & a {
        font-size: 8px;
        color: var(--bz-app-dark);
    }


}