:root {
    --bz-app-principal: #dbdbd2;
    --bz-app-header: #009688;
    --bz-app-success: #d5f9ba;
    --bz-app-light: #e9ebeb;
    --bz-app-white: #ffffff;
    --bz-app-focus: #8edafc;
}

body {
    font-family: ‘Roboto’, sans-serif;
}

header {
    height: 20vh;
    background-color: var(--bz-app-header);
}

main {
    height: 80vh;
    background-color: var(--bz-app-principal);
}